body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family:'Times New Roman', Times, serif;
    color: #060101;
    height: 100vh;
    background: url(/images/clouds3.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

.resume-container {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 396px;
    height: 562px;
    background-image: url(/images/resume-screenshot.png);
    background-size: cover;
}